<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Track List</title>
    <link rel="stylesheet" href="/css/tracksView.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/006642858d.js"></script>
</head>
<body>
<div style="margin: 0; text-align: center" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Hello <span th:text="${session.loggedUser.getName()}">!</span></strong> Here you can see our Tracks.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!--Header-->
<div th:replace="fragments/fragments :: header"></div>`

<div class="container" style="margin-top: 50px">
<!-- Body-->
<div class="charts header">
    <h1>HOT 100</h1>
</div>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th><a th:href="@{/tracks(sortField='track_name')}">Title</a></th>
        <th><a th:href="@{/tracks(sortField='artists')}">Artist</a></th>
        <th><a th:href="@{/tracks(sortField='album_name')}">Album</a></th>
        <th><a th:href="@{/tracks(sortField='popularity')}">Popularity</a></th>
        <th><a th:href="@{/tracks(sortField='danceability')}">Danceability</a></th>
        <th>Action</th>
        <th>Add</th>
    </tr>
    </thead>
    <tbody>

    <tr class="charts-row" th:each="track, trackNumber : ${tracks}">
        <td th:text="${trackNumber.index+1 }"></td>
        <td th:text="${track.getTrack_name()}"></td>
        <td th:text="${track.getArtists()}"></td>
        <td th:text="${track.getAlbum_name()}"></td>
        <td th:text="${track.getPopularity()}"></td>
        <td th:text="${track.getDanceability()}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{tracks/edit/{id}(id=${track.id})}">
                <i class="fas fa-edit"></i>Edit</a>
<!--            <a class="btn btn-danger" th:href="@{tracks/delete/{id}(id=${track.id}, page=${currentPage}, sortField=${sortField})}">-->
<!--                <i class="fas fa-times"></i>Delete</a>-->
            <form class="btn btn-danger" th:method="DELETE" th:action="@{tracks/{id}(id=${track.id}, page=${currentPage}, sortField=${sortField})}">
                <input class="fas fa-times" type="submit" value="Delete" />
            </form>

        </td>
        <td><button>+</button></td>
    </tr>

    </tbody>
</table>

<!-- Display pagination links -->
<div th:if="${hasMorePages}">
    <a th:href="@{/tracks(page=0, sortField=${sortField})}" th:if="${currentPage > 0}">&lt;&lt;</a>
    <a th:href="@{/tracks(page=${currentPage - 1}, sortField=${sortField})}" th:if="${currentPage > 0}">&lt;</a>
    <span th:text="${currentPage+1}"></span>
    <a th:href="@{/tracks(page=${currentPage+1}, sortField=${sortField})}" th:if="${hasMorePages}">&gt;</a>
</div>
</body>
</html>