<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Track List</title>
    <link rel="stylesheet" href="/css/tracksView.css">
</head>
<body>
<div class="charts header">
    <h1>CHARTS</h1>
</div>
<div>
    <form th:action="@{/tracks}" method="get">
        <label for="sort-dropdown">Sort by:</label>
        <select name="sortField" id="sort-dropdown">
            <option value="danceability" th:selected="${danceabilitySort}">Danceability</option>
            <option value="popularity" th:selected="${popularitySort}">Popularity</option>
        </select>
        <button type="submit">Sort</button>
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Popularity</th>
        <th>Danceability</th>
        <th>Add</th>
    </tr>
    </thead>
    <tbody>

    <tr class="charts-row" th:each="track, trackNumber : ${tracks}">
        <td th:text="${trackNumber.index+1}"></td>
        <td th:text="${track.getTrack_name()}"></td>
        <td th:text="${track.getArtists()}"></td>
        <td th:text="${track.getAlbum_name()}"></td>
        <td th:text="${track.getPopularity()}"></td>
        <td th:text="${track.getDanceability()}"></td>
        <td><button>+</button></td>
    </tr>

    </tbody>
</table>
<!--&lt;!&ndash; Display pagination links &ndash;&gt;-->
<!--<div th:if="${hasMorePages}">-->
<!--    <a th:href="@{/tracks(page=0)}" th:if="${currentPage > 0}">&lt;&lt;</a>-->
<!--    <a th:href="@{/tracks(page=${currentPage - 1})}" th:if="${currentPage > 0}">&lt;</a>-->
<!--    <span th:text="${currentPage+1}"></span>-->
<!--    <a th:href="@{/tracks(page=${currentPage+1})}" th:if="${hasMorePages}">&gt;</a>-->
<!--</div>-->

<!-- Display pagination links -->
<div th:if="${hasMorePages}">
    <a th:href="@{/tracks(page=0)}" th:if="${currentPage > 0}">&lt;&lt;</a>
    <a th:href="@{/tracks(page=${currentPage - 1})}" th:if="${currentPage > 0}">&lt;</a>
    <span th:text="${currentPage+1}"></span>
    <a th:href="@{/tracks(page=${currentPage+1})}" th:if="${hasMorePages}">&gt;</a>
</div>
</body>
</html>