<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Track List</title>
    <link rel="stylesheet" href="/css/tracksView.css">
</head>
<body>
<div class="charts header">
    <h1>HOT 100</h1>
</div>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th><a th:href="@{/tracks(sortField='track_name')}">Title</a></th>
        <th><a th:href="@{/tracks(sortField='artists')}">Artist</a></th>
        <th><a th:href="@{/tracks(sortField='album_name')}">Album</a></th>
        <th><a th:href="@{/tracks(sortField='popularity')}">Popularity</a></th>
        <th><a th:href="@{/tracks(sortField='danceability')}">Danceability</a></th>
        <th>Add</th>
    </tr>
    </thead>
    <tbody>

    <tr class="charts-row" th:each="track, trackNumber : ${tracks}">
        <td th:text="${trackNumber.index+1 }"></td>
        <td th:text="${track.getTrack_name()}"></td>
        <td th:text="${track.getArtists()}"></td>
        <td th:text="${track.getAlbum_name()}"></td>
        <td th:text="${track.getPopularity()}"></td>
        <td th:text="${track.getDanceability()}"></td>
        <td><button>+</button></td>
    </tr>

    </tbody>
</table>

<!-- Display pagination links -->
<div th:if="${hasMorePages}">
    <a th:href="@{/tracks(page=0, sortField=${sortField})}" th:if="${currentPage > 0}">&lt;&lt;</a>
    <a th:href="@{/tracks(page=${currentPage - 1}, sortField=${sortField})}" th:if="${currentPage > 0}">&lt;</a>
    <span th:text="${currentPage+1}"></span>
    <a th:href="@{/tracks(page=${currentPage+1}, sortField=${sortField})}" th:if="${hasMorePages}">&gt;</a>
</div>
</body>
</html>