<!DOCTYPE html>
<html lang="pt.br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"> 
<title>Edit Student</title>
<meta name="author" content="Jefferson Lima">
<link rel="stylesheet" href="/css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/fragments :: header"></div>

<div class="container" style="margin-top:50px;">

<h4>+ Edit User</h4>
<hr>
<br>

<form method="post" action="/edit" th:object="${user}">
<input type="hidden" th:field="*{id}">

<!-- Name  -->
 <div class="row">
 <div class="col-mod-6 form-group offset-md-3">
 <label>User Name:</label>
 <input class="form-control" placeholder="Ex: James" th:field="*{name}">
 </div>
</div>

<!-- Surname  -->
<div class="row">
 <div class="col-mod-6 form-group offset-md-3">
 <label>User Surname:</label>
 <input class="form-control" placeholder="Ex: Bond" th:field="*{surname}">
 </div>
</div>

<!-- Course  -->
<div class="row">
 <div class="col-mod-6 form-group offset-md-3">
 <label>User Number:</label>
 <input readonly="readonly" class="form-control" placeholder="Ex: James" th:field="*{userNumber}">
 </div>
</div>

<!-- email  -->
<div class="row">
 <div class="col-mod-6 form-group offset-md-3">
 <label>Email:</label>
 <input class="form-control" placeholder="Ex: James" th:field="*{email}">
 </div>
</div>

<!-- Course  -->
<div class="row">
 <div class="col-mod-6 form-group offset-md-3">
 <label>Musical Genre:</label>
 <select class="form-control" th:field="*{musicalGenre}">
 <option th:each="musicalGenre : ${T(com.integratedAssessment.cct.Enums.MusicalGenre).values()}"th:value="${musicalGenre}" th:text="${musicalGenre}"></option>
 </select>
 </div>
</div>

<!-- Buttons -->
		<div class="row">
		<button type="submit" class="btn btn-success offset-md-3">SAVE</button>
			&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="btn btn-outline-danger">BACK</a>
		</div>

</form>
</div>

	<script src="js/main.js"></script>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>