<!DOCTYPE html>
<html lang="pt.br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"> 
<title>Register Student</title>
<meta name="author" content="Daniel Martellini">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/fragments :: header"></div>

<div class="container" style="margin-top:50px;">

<h4>+ Register User</h4>
<hr>
<br>

    <form method="post" action="/registerUsers" th:object="${user}">
        <div class="row">`
            <div class="col-mod-6 form-group offset-md-3"></div> <div th:if="${msg}" class="alert alert-danger" role="alert">
                <p th:text="${msg}"></p>
            </div></div>


<!-- Name  -->
 <div class="row">`
 <div class="col-mod-6 form-group offset-md-3">
 <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}">
<label class="validation-message" th:errors="*{name}"></label>
</div>
 <label>User Name:</label>
 <input class="form-control" placeholder="Ex: James" th:field="*{name}">
 </div>
</div>

<!-- Username  -->
<div class="row">
 <div class="col-mod-6 form-group offset-md-3">
 <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('username')}">
<label class="validation-message" th:errors="*{username}"></label>
</div>
 <label>User Username:</label>
 <input class="form-control" placeholder="Ex: Bond" th:field="*{username}">
 </div>
</div>

<!-- Course  -->
<div class="row">
 <div class="col-mod-6 form-group offset-md-3">
 <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}">
<label class="validation-message" th:errors="*{password}"></label>
</div>
 <label>Password:</label>
 <input class="form-control" placeholder="Ex: Password" th:field="*{password}">
 </div>
</div>

<!-- email  -->
<div class="row">
 <div class="col-mod-6 form-group offset-md-3">
 <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}">
<label class="validation-message" th:errors="*{email}"></label>
</div>
 <label>Email:</label>
 <input class="form-control" placeholder="Ex: jamesbond@gmail.com" th:field="*{email}">
 </div>
</div>

<!-- Course  -->
<div class="row">
    <div class="col-mod-6 form-group offset-md-3">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('musicalGenre')}">
<label class="validation-message" th:errors="*{musicalGenre}"></label>
</div>
        <label>Musical Genre:</label>
        <select class="form-control" th:field="*{musicalGenre}">
            <option th:each="musicalGenre : ${T(com.integratedAssessment.cct.Enums.MusicalGenre).values()}" th:value="${musicalGenre}" th:text="${musicalGenre}"></option>
        </select>
    </div>
</div>

<!-- Buttons -->
		<div class="row">
		<button type="submit" class="btn btn-success offset-md-3">SAVE</button>
		<a th:href="@{/home}" class="btn btn-outline-danger" >BACK</a>
		</div>

</form>
</div>

	<script src="js/main.js"></script>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>