*{
    font-family: Programme, Arial, sans-serif;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
    text-align: left;
}
body {

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    line-height: 1.45;
    text-size-adjust: 100%;
}
/*scroling */
.charts-row{
    overflow: hidden;
}
.charts-row:hover{
    background-color: darkgray;
}
td{
    border-radius: 0;
}
/*table*/
table{
    width: 100%;
}


/*select*/
select {
    margin-bottom: 10px;
    margin-top: 10px;
}

/*add to the playlist btn*/
.btn-addTrack{
    text-align: center;
    vertical-align: middle;
    padding: 0.67em 0.67em;
    cursor: pointer;
}
.btn-addTrack-toUserPLaylist{
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}