<!DOCTYPE html>
<html lang="pt.br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <title>CCT - Login</title>
  <meta name="author" content="Daniel Martellini">
  <link rel="stylesheet" href="css/login.css">
  <script src="https://kit.fontawesome.com/006642858d.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

      <div class="Login-Form" style="background-image: url('/img/capa2.jpg');">
          <div class="container">
            <div class="main-div">
             <div class="header=text>">
                <h2>Admin Login:</h2>
                <p>Insert your credentials</p>
              </div>
            <form method="post">
              <div class="form-group">
                <input class="form-control" placeholder="Username">
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password">
              </div>
              <div class="sign-up">
                <p>Not Registerd yet? Click Here</p>
              </div>

              <button type="submit" class="btn btn-primary">Login</button>
              <button type="button" class="btn btn-primary">Cancel</button>
            </form>
          </div>
        </div>
      </div>

</body>
</html>