<!DOCTYPE html>
<html lang="pt.br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"> 
<title>CCT</title>
<meta name="author" content="Jefferson Lima">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
	<div style="margin: 0; text-align: center" class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>Welcome to our platform! <span th:text="${session.loggedUser.getName()}"></span></strong> You can register new users, modify them and also to the same with the tracks.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	
	<div th:replace="fragments/fragments :: header"></div>
	
	<section class="neo-section" style="background-image: url('/img/cover.jpg');">
	
	<div class="shadow"></div>
	
	<div class="center neo-container">
		<h1 class="center-text">Management Music System</h1>
	
	<div class="bottons">
	
	<div class="wm">
		<a class="btnmain btn justify-content-center" th:href="@{registerUsers}">Register user</a>
	</div>
	
	<div class="wm">
		<a class="btnmain btn justify-content-center" th:href="@{users-filter}">Search user</a>
	</div>
	
	<div class="clear"></div>
	</div>
	</div>
	</section>
	
	<div th:replace="fragments/fragments :: footer"></div>
	
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>